{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    
    <h3 class="text-center mb-10">Review Your Order and Make Payment </h3>
    <div class="row">
        
        <aside class="col-lg-8">
            <div class="card">
                <h5 class="card-header">Billing Address</h5>
                <div class="card-body">
                  <p class="card-text mb-0">{{order.full_name}}</p>
                  <p class="card-text mb-0">{{order.full_address}}</p>
                  <p class="card-text mb-0">{{order.city}}, {{order.state}}</p>
                  <p class="card-text mb-0">{{order.country}}</p>
                  <p class="card-text mb-0">{{order.email}}</p>
                  <p class="card-text mb-0">{{order.phone}}</p>
                  {% if order.order_note %}
                  <b>Order Note: </b> {{order.order_note}}
                  {% endif %}
                  
                </div>
              </div>

              <div class="card">
                <h5 class="card-header">Payment Method</h5>
                <div class="card-body">
                  <p class="card-text">Razorpay</p>
                </div>
              </div>

              <div class="card">
                <h5 class="card-header">Review Products</h5>
                <div class="card-body">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                        <tr class="small text-uppercase">
                          <th scope="col">Product</th>
                          <th scope="col" width="120">Quantity</th>
                          <th scope="col" width="120">Price</th>
                  
                        </tr>
                        </thead>
                        <tbody>
                  
                        {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
                                    <figcaption class="info">
                                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                        <p class="text-muted small">
                                            {% if cart_item.variations.all %}
                                                {% for item in cart_item.variations.all %}
                                                    {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                                    </figcaption>
                                </figure>
                            </td>
                            <td>
                                <!-- col.// -->
                                        <label for="">{{cart_item.quantity}}</label>
                            </td>
                            <td>
                                <div class="price-wrap">
                                    <var class="price">₹ {{ cart_item.sub_total }}</var>
                                    <small class="text-muted"> ₹ {{ cart_item.product.price }} each </small>
                                </div> <!-- price-wrap .// -->
                            </td>
                  
                        </tr>
                        {% endfor %}
                  
                        </tbody>
                        </table>
                </div>
              </div>


    
        </aside> <!-- col.// -->
        <aside class="col-lg-4">
    
            <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right">₹{{total}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Tax:</dt>
                  <dd class="text-right">₹{{tax}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Grand Total:</dt>
                  <dd class="text-right text-dark b"><strong>₹{{grand_total}}</strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="{% static './images/misc/payments.png'%}" height="26">
                </p>


          <!--.1.Razorpay button -->
          <button class="btn btn-primary" align="center" id="rzp-button1">Pay With Razorpay</button>
					<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
          
          

            </div> <!-- card-body.// -->
      </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    </div> <!-- container .//  -->
    </section>



  <script>

  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
 
  var amount = "{{ grand_total }}"
	var url = "{% url 'payments' %}"
	var csrftoken = getCookie('csrftoken');
	var orderID = "{{order.order_number}}"
	//var payment_method = 'Razorpay'
	var redirect_url = "{% url 'order_complete' %}"

 // ....4.razorpay integration for razorpay popup
  var options = {
		"key": "{{api_key_id}}", // Enter the Key ID generated from the Dashboard
		"name": "GreatKart",
		"description": "Online Shopping Platform",
		"image": "{% static 'images/logo.png' %}",
		"order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
		"handler": function (response){
      console.log(response)
			var transID = response.razorpay_payment_id
			var payment_method = 'Razorpay'
			var status = 'Payment Success'
			sendData(transID, payment_method, status);
		},
		"prefill": {
			"name": "{{user.first_name}} {{user.last_name}}",
			"email": "{{user.email}}",
			"contact": "{{user.phone_number}}"
		},
		"theme": {
			"color": "#3399cc"
		}
	};


  var rzp1 = new Razorpay(options);
	rzp1.on('payment.failed', function (response){
		console.log(response)
		console.log(response.error.code);
		console.log(response.error.description);
		console.log(response.error.source);
		console.log(response.error.step);
		console.log(response.error.reason);
		console.log(response.error.metadata.order_id);
		console.log(response.error.metadata.payment_id);
	});

	document.getElementById('rzp-button1').onclick = function(e){
		rzp1.open();
		e.preventDefault();
	}
 // Razorpay ends here
  //Fetching data to send it to payments views.py
  function sendData(transID, payment_method, status){
		fetch(url, {
			method : "POST",
			headers: {
				"Content-type": "application/json",
				"X-CSRFToken": csrftoken,
			},
			body: JSON.stringify({
				orderID: orderID,
				transID: transID,
				payment_method: payment_method,
				status: status,
			}),
		})
	
	} 

</script>


  
{% endblock %}